{% extends 'app_medico/background.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset.</p>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}
password_reset_confirm.html
{% extends 'base.html' %}
{% load static %}

{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
    <h2>Confirm Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirm Password Reset</button>
    </form>
{% endblock %}